.topAreaParent {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

.topAreaChild {
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
