.dayWeather {
  position: relative;
  display: flex;
  width: 15%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.opacityZero {
  opacity: 0;
}

.lilParent {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.lilChild {
  position: absolute;
}
