/* @keyframes bob1 {
  0% {
    filter: drop-shadow(3px 4px 5px white);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(5px 4px 5px white);
    transform: translatey(-30px);
  }
  100% {
    filter: drop-shadow(3px 4px 5px white);
    transform: translatey(0px);
  }
}

@keyframes bob2 {
  0% {
    filter: drop-shadow(5px 4px 5px white);
    transform: translatey(-30px);
  }
  50% {
    filter: drop-shadow(3px 4px 5px white);
    transform: translatey(0px);
  }
  100% {
    filter: drop-shadow(5px 4px 5px white);
    transform: translatey(-30px);
  }
} */

.daysWeatherContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

/* .daysWeatherContainer:nth-child(odd) {
  animation: bob1 3s infinite;
}

.daysWeatherContainer:nth-child(even) {
  animation: bob2 3s infinite;
} */
