@keyframes bob {
  0% {
    filter: drop-shadow(3px 4px 5px white);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(5px 4px 5px white);
    transform: translatey(-10px);
  }
  100% {
    filter: drop-shadow(3px 4px 5px white);
    transform: translatey(0px);
  }
}

.weatherIcon {
  animation: bob 3s infinite;
  width: 70%;
  z-index: -1;
  position: absolute;
}
