.droplet {
  /* position: absolute;
  top: -6%;
  height: 40px;
  width: 1px;
  background-color: white; */
  width: 5%;
}

.rainContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* z-index: 20; */
}

/* 
.raindrop1,
.raindrop2,
.raindrop3,
.raindrop4 {
  width: 5vw;
  height: 8vh;
}

.rainSet1,
.rainSet2,
.rainSet3,
.rainSet4 {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: absolute;
} */
