/* Container that holds search box, text curve, and current weather icon: */
.topAreaParent {
  position: relative;
  margin-top: 25vh;
  margin-bottom: 25vh;
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50vw;
  height: 50vh;
}

.topAreaChild {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.innerParent {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Specifics for children of above container: */

.currentWeatherIcon {
  width: 75%;
  margin-top: 12.5%;
  filter: drop-shadow(3px 4px 5px white);
}

/* .curve {
  opacity: 50%;
} */

input {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #eb6e4b;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #eb6e4b;
  outline: 0;
  padding: 3px 0;
  background: transparent;
  width: 40%;
}

/* Conditionally rendering search box once there is weather data */

.inputUp {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: fixed;
  top: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  background: lightblue;
}

.inputDown {
  position: absolute;
}

/* Text curve at back to make sure user can select search box */

.background {
  z-index: -5;
}

.notDisplayed {
  display: none;
}

.notVisible {
  visibility: hidden;
}
